
body{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
}

#left{
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #cccccc,white)
}

#right{
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(270deg, #cccccc,white)
}

img{
    width: 200px;
    height:200px;
    border-radius: 150px;
    box-shadow: 5px 5px 2.5px grey;
    border:4px solid #3d3939;
}

#pic{
    display: flex;
    justify-content: center;
    padding-top: 10%
}

h1{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display:flex;
    justify-content: center
}

ul{
    display: flex;
    justify-content: space-around;
    width:100%
}

p{
    font-family: 'Roboto', sans-serif;
}

.link{
    width: 5em;
    display: flex;
}

#description{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%
}

.tab{
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
#professional{
    display: none;
}

#projects{
    display: none;
}

#personal{
    display: none;
}
