
html, body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f1;
}
.wrapper{
    height: 100vh;
    overflow-y : auto;
    perspective: 30px;
    overflow-x: hidden;
}

#header{
    background: rgb(63, 84, 53, .75);
    height: 40px;
    display: none;
    justify-content: space-between;
    box-shadow: 0 .25vw .25vw .25vw rgba(0, 0, 0, 0.5);
}

#brand{
    width: auto;
    justify-content: space-between;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#brand:hover{
    cursor: pointer;
    color: white;
}

#name{
    font-size: 20px;
    font-family: 'Rokkitt', serif;
    padding-left: 1vw;
    margin-top: 10px;
    display: flex;
}

#logo{
    margin-bottom: 40px;
    margin-top: 100px;
}


.btn{
    background: none;
    color: peru;
    border: none;
    cursor: pointer;
    font-family: 'Rokkitt', serif;
    font-size: 13px;
    width: 48%;
    padding-top: 1.5vh;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover{
    color: white !important;
}

.btn:focus{
    color:#406199;
    outline: 0;
}

.outlink{
    text-align: center;
    text-decoration: none;

}

#avatar{
    width: 30%;
    height:30%;
    border-radius: 50%;
    box-shadow: 5px 5px 2.5px grey;
    border:4px solid #3d3939;
}

#pic{
    width: auto;
    height: 100vh;
    
}
#landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fcfcf4;
    position: relative;
    perspective: 2px;
}

#landing::after{
    background-image: url("images/chad-madden-436494-unsplash.jpg");
    background-size: cover;
    /* background-color: #b96558 */
}

.parallax::after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

#htitle{
    font-size: 6vh;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Rokkitt", serif;
}

#hsub{
    font-size: 3vh;
    font-family: 'Exo', sans-serif;
}

#hometabs{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top:2vh;
}

.hbtn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3vh;
    font-family: "Rokkitt", serif;
    width: 48%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    width: auto;
    color: #fcfcf4;

}

.hbtn:hover{
    color: #D58F72;
}


#description{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%
}

.tab{
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#sidecolumn{
    display: flex;
    align-items: flex-start;
    height: 215vh;
    position: absolute;
    z-index: 2;
    top: 104vh;
    left: 0;
    padding-left: 5px;
}
#sidenav{
    display:flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    list-style: none;
    padding-left: 7px;
}

#sidenav>li>a{
    padding-left: 10px;
    color:  #292B29;
}

.navlink:hover{
    color: #D58F72 !important;
}

.active{
    border-left: solid #B96558 2px;
    color: #D58F72 !important;
}



main{
    padding-left: 200px;
    padding-right: 100px;
    color: #292B29;
}

h2{
    font-family: 'Rokkitt', serif;
    font-weight: normal;
    font-size: 2.5em;
    position: relative;
}

h2:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 75%;
    border-bottom: solid #B96558 2px; 
}

h3{
    font-family: 'Exo', sans-serif;
    font-style: thin italic;
    font-weight: normal;
}

p{
    font-family: 'Palanquin', sans-serif;
    font-style: thin;
    font-size: 1rem;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
}

.headshot{
    width: 200px;
}


#professional{
    /* display: flex; */
}

#projects{
    /* display: none; */
}

#personal{
    padding-top: 30px;
}

#copyright{
    color: #8D8C89;
    font-size: .75em;
    text-align: center;
    margin-top: 200px;
}

#copyright>a{
    color: #8D8C89;
}
